<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
       <div>
          <h3>About Us</h3>
          <hr>
       </div>
</div>

<div fxFlex>
 <h2>History</h2> 
 <div fxLayout="column" fxLayout.gt-sm="row">
     <div fxFlex="100" fxFlexOffset="20px">
           <h4>Our Address</h4>
           <address>
             287<br>
             Congress Road, Norfolk<br>
             Virginia<br>
             <i class="fa fa-phone"></i>: +1 757-355-3639<br>
             <i class="fa fa-fax"></i>: ++1 757-355-3639<br>
             <i class="fa fa-envelope"></i>: 
                   <a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
          <p></p>
           <div>
               <a md-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
               <a md-raised-button><i class="fa fa-skype"></i> Skype</a>
               <a md-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
           </div>
       </div>
   </div>
 </div>

 <div fxFlex>
    <h2>Corporate Leadership</h2>
    <md-list *ngIf="leaders" [@expand]>
        <md-list-item *ngFor="let leader of leaders">
            <img md-list-avatar src={{leader.image}} alt={{leader.name}}>
            <h4 md-line>{{ leader.name }} {{ leader.desig }}</h4>
            <p md-line>{{ leader.designation }}</p>
            <p md-line>{{ leader.introduction }} </p>
        </md-list-item>
    </md-list>
    <div [hidden] ="leaders">
            <md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
    </div>
  </div>
</div>

